/*--MEDIA------------------*/
@media screen and (max-width: 1600px) { .offer-client { background-position: left 38%; }
  .offer-client:after { left: 30%; } }
@media screen and (max-width: 1200px) { .form-order input[type="text"], .form-order input[type="tel"], .form-order input[type="email"], .form-order input[type="file"], .form-order textarea { width: 100%; }
  .form-order .left-part { text-align: left; }
  .dropdown-toggle { padding-left: 0; }
  .drop-icon { position: absolute; z-index: 100; top: 0; height: 50px; width: 50px; margin-left: 30px; text-align: center; background-color: rgba(100, 100, 100, 0.3); cursor: pointer; vertical-align: top; color: rgba(255, 255, 255, 0.8); }
  .drop-icon .glyphicon { right: 18px; margin-top: -6px; }
  .drop-icon:hover .glyphicon-menu-right, .drop-icon:focus .glyphicon-menu-right { color: #fff; }
  .navbar { -webkit-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }
  .navbar .navbar-header { text-align: center; }
  .navbar .navbar-toggle { display: block; }
  .navbar .navbar-collapse.collapse { display: none !important; }
  .navbar .navbar-collapse.collapse.in { display: block !important; }
  .navbar .nav { float: none !important; padding: 0 0 15px 0; background-color: rgba(0, 0, 0, 0.8); }
  .navbar .nav .open > .dropdown-menu { display: block !important; }
  .navbar .nav li { display: block; float: none; }
  .navbar .nav li a { display: block; padding: 15px 20px !important; font-size: 1.125em; font-weight: 300; line-height: 1.125em; }
  .navbar .nav li a:hover { background-color: rgba(255, 255, 255, 0.2); }
  .navbar .nav li .dropdown-menu { display: none !important; }
  .open > a { background-color: rgba(80, 80, 80, 0.5) !important; }
  .open > a .glyphicon { right: 18px; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
  .dropdown-menu { position: static; float: none; margin: 0; padding: 0; background-color: transparent; box-shadow: 0 0 0; border-top: 1px solid rgba(255, 255, 255, 0.2); border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .dropdown-menu li > a { margin-left: 15px; color: #fff !important; border: none; }
  .dropdown-menu li > a:focus { background-color: transparent; }
  .dropdown-submenu { top: 0; }
  .dropdown-submenu .glyphicon { right: 18px; color: rgba(255, 255, 255, 0.75); -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
  .dropdown-submenu .dropdown-menu li > a { margin-left: 30px; }
  .dropdown-submenu.open .glyphicon { -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); transform: rotate(270deg); }
  .main-header .navbar-brand { margin-left: 15px !important; }
  .main-header .contact-info { float: none; margin-top: 24px; text-align: center; }
  .main-header .container { position: static; width: 100%; padding: 0 0 4px 0; -webkit-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
  .letters-carousel .carousel-control.left { left: 2%; }
  .letters-carousel .carousel-control.right { right: 2%; }
  .carousel-control.slider-prev, .carousel-control.slider-next { opacity: 1; }
  /*  develop site */
  .offer-client { background-image: none; }
  .offer-client div[class^="col-"] { width: 100%; margin-left: 0; }
  .offer-client:after { display: none; } }
@media (max-width: 991px) { .container { width: 100%; }
  p img, div[class^="col-"] img { max-width: 100%; height: auto; }
  #results-carousel .seo-graph { margin-left: 0; }
  #results-carousel .seo-graph img { max-width: 100%; }
  #results-carousel .seo-laptop { min-height: inherit; padding-bottom: 1em; }
  #results-carousel .seo-promote { display: block; margin-bottom: 1em; }
  #results-carousel .asterics { margin-bottom: 1em; }
  .tariff { padding-bottom: 0; }
  .tariff-list .col, .tariff-list .tariff-item { height: inherit; padding-bottom: 30px; }
  .seo-achieve-item .achieve-desc { width: auto; }
  .promo-box-bottom .promo-box-price { margin-bottom: 10px; }
  .promo-box-bottom { position: static; }
  .service-item h3 { font-size: 20px; }
  .service-item:hover .service-info p { top: 10px; }
  .projects-item, .projects-item-2w { width: 50% !important; height: 300px !important; margin: 0; }
  .projects-item .projects-descr, .projects-item-2w .projects-descr { position: absolute; top: 0; left: 0; }
  .projects-item .projects-descr .projects-info, .projects-item-2w .projects-descr .projects-info { font-size: 18px; }
  .projects-item .projects-descr .projects-descr-wrap, .projects-item-2w .projects-descr .projects-descr-wrap { position: absolute; top: 45%; margin: 0; width: 100%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
  .projects-item .projects-descr .projects-descr-wrap .glyphicon-bookmark, .projects-item-2w .projects-descr .projects-descr-wrap .glyphicon-bookmark { display: none; }
  .projects-item .projects-descr .projects-descr-wrap .projects-title, .projects-item-2w .projects-descr .projects-descr-wrap .projects-title { margin-bottom: 10px; font-size: 24px; }
  .projects-item .projects-descr .projects-descr-wrap .projects-title:after, .projects-item .projects-descr .projects-descr-wrap .projects-title:before, .projects-item-2w .projects-descr .projects-descr-wrap .projects-title:after, .projects-item-2w .projects-descr .projects-descr-wrap .projects-title:before { display: none; }
  .inner-top .top-caption .top-caption-text { width: 100%; }
  .inner-top .top-caption h1 { height: auto; margin-top: 0; margin-bottom: .4em; line-height: normal; text-shadow: 1px 1px 0px black; background: none; }
  .anchor-nav { display: none; }
  .anchor-nav + .breadcrumb-wrap, .anchor-nav-wrap + .breadcrumb-wrap { padding-top: 0; }
  /*  young promotion  */
  .promo-why-item:nth-child(n+2):after { left: -25px; width: 50px; }
  .guarantees-item:nth-child(n+2):after { left: -30px; width: 25%; }
  /*  request-promotion-page  */
  .request-promotion-page .inner-promo { margin-bottom: 20px; }
  .request-promotion-page .inner-promo:after { display: none; }
  .request-promotion-page .promo-price:before, .request-promotion-page .promo-price:after { display: none; }
  .promo-price:before, .promo-price:after { display: none; }
  /*  site develop  */
  .call-us .iphone-promo-img { display: none; }
  .ideal-design img { max-width: 250px; }
  /* tech site support  */
  .promo-box:after { display: none; }
  .site-promotion-page .promo-box { margin: 0px 0px 30px 0px; padding: 5px 25px 40px 25px; }
  .site-promotion-page .promo-box h3, .site-promotion-page .promo-box .h3 { margin-top: 30px; }
  /*--portfolio--*/
  .seo-project-desc { padding: 0 20px 20px 20px; }
  /*--contact-page--*/
  .coffee-cookie { padding-top: 80px; padding-bottom: 80px; font-size: 26px; }
  .coffee-cookie:after, .coffee-cookie:before { top: -10px; -webkit-transform: scale(0.6); -ms-transform: scale(0.6); -o-transform: scale(0.6); transform: scale(0.6); } }
@media (max-width: 768px) { .h1, h1, .h2, h2 { font-size: 32px; }
  .case-text, .text-box { font-size: 16px; }
  .navbar-brand { margin-left: 0; }
  .main-header .container { padding: 0 15px; }
  .main-header .contact-info { float: right; }
  .main-header .contact-info .btn-header { display: none; }
  .main-header .contact-info a { top: -3px; left: 0; margin-left: 0; }
  .btn-lg, .text-box .btn-lg { max-width: 250px; min-width: 180px; height: 45px; padding: 0 2rem; line-height: 39px; font-size: 1.2em; white-space: normal; }
  .mark-title .glyphicon-bookmark, .mark-title h2:before, .mark-title h2:after { display: none; }
  .carousel-nav { display: none; }
  .top-carousel { height: 100vh; }
  .top-carousel .item { height: 100vh; }
  .top-carousel .carousel-caption { left: 15px; right: 15px; }
  .top-carousel .carousel-caption h1 { font-size: 2.4em; }
  .top-carousel .carousel-caption p { font-size: 1.2em; }
  .top-carousel .carousel-caption .btn { max-width: 240px; min-width: 180px; height: auto; margin-top: 2rem; padding: .5em .8em; font-size: 1.2em; word-break: break-word; white-space: pre-line; line-height: 1.2; }
  .inner-top .top-caption .top-caption-text { font-size: 1.2em; }
  #results-carousel .seo-graph { text-align: center; }
  #results-carousel .seo-desc { padding-left: 0; }
  .inner .block-title, .block-title { margin-top: 30px; margin-bottom: 30px; }
  .seo-results { margin-bottom: 20px; }
  .tariff-info { text-align: left; }
  .tariff-item { padding-left: 0; padding-right: 0; }
  .modal .modal-header { margin-top: 10px; margin-bottom: 10px; }
  .modal .modal-header .close { top: -28px; right: -15px; }
  .modal .modal-title { font-size: 28px; line-height: 1.2; }
  .modal .modal-content { padding: 20px 25px; }
  .modal .form-signin input[type="text"], .modal .form-signin input[type="email"], .modal .form-signin textarea { margin-bottom: 20px; }
  .form-signin .btn { width: auto; }
  .f-col { margin-bottom: 25px; padding-left: 15px; padding-right: 25px; }
  .f-col:after { display: none; }
  .main-footer .f-list li a { padding: 5px 0 5px 10px; line-height: 1.2; }
  .universal-page .achievements, .achievements { margin-top: 30px; margin-bottom: 30px; }
  .num-achievements { width: 120px; height: 120px; font-size: 44px; line-height: 120px; }
  .num-achievements:after { width: 60px; height: 30px; }
  .num-achievements:before { top: 17px; right: 6px; }
  .subtitle-achievements { margin-bottom: 30px; font-size: 16px; }
  .letters-carousel { min-height: auto; margin-bottom: 30px; background: none; }
  .letters-carousel .subtitle { margin-bottom: 20px; }
  .anchor-nav-block:before { display: none; }
  /*  request-promotion-page  */
  .promo-price { margin-bottom: 70px; }
  .promo-price-text { margin-bottom: 50px; }
  .promo-box { padding: 5px 30px 40px 30px; }
  /*  site develop  */
  .ideal-design img { display: none; }
  .ideal-design-list li { padding: 14px 0 14px 44px; }
  .type-site-list .type-site-item { border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; }
  .features-list .features-item { min-height: 270px; }
  .inner-promo-custom .container { padding: 25px 15px 70px 25px; }
  .inner-promo h2, .inner-promo .h2 { margin-top: 0; }
  /*  universal page  */
  .universal-page .inner-promo { margin-bottom: 30px; }
  .universal-page .inner-promo h3, .universal-page .inner-promo .h3 { font-size: 26px; }
  .universal-page .inner-promo p { font-size: 20px; }
  .inner .clients-logo div { height: 150px; line-height: 150px; }
  .clients-feedbacks { margin-top: 50px; }
  .clients-feedbacks q { margin-top: 20px; font-size: 20px; }
  /*  contact-page  */
  .coffee-cookie { padding-top: 30px; padding-bottom: 30px; font-size: 22px; }
  .coffee-cookie:after, .coffee-cookie:before { display: none; }
  /*  gallery-page  */
  .site-project { min-height: auto; }
  .site-project .site-project-media { height: 200px; }
  .site-project .site-project-desc { min-height: 150px; padding: 22px 20px 60px 20px; }
  .site-project .site-project-desc p { font-size: 18px; }
  .portfolio-tags { margin-top: 30px; } }
@media screen and (max-width: 767px) { .drop-icon { right: 0; }
  .results-btn { font-size: 18px; }
  .btn { max-width: 250px; white-space: normal; }
  .btn-contact { max-width: 80%; }
  table { display: block; overflow-x: auto; }
  .nav-tabs li a, .nav-tabs .active a, .nav-tabs li:before { margin-left: -6px; -webkit-transform: scale(0.6); -ms-transform: scale(0.6); -o-transform: scale(0.6); transform: scale(0.6); }
  .nav-tabs li.active a, .nav-tabs li:hover a { animation-duration: 0s; }
  .nav-tabs { z-index: 12; top: 10px; }
  .tab-content { z-index: 10; position: relative; margin-top: -50px; background-color: #fff; }
  .tab-content .tab-pane { margin: auto 0; padding: 1em; }
  .tab-content h3 { font-size: 32px; }
  .tab-content h4 { font-size: 22px; }
  .tab-content .tab-list-item { font-size: 15px; }
  .promo-form-wrap .form-signin { padding: 3em; }
  .promo-form-wrap .form-signin:before { top: 3%; left: 3%; width: 94%; height: 94%; }
  .seo-achieve-custom { padding-right: 0; }
  .seo-achieve-item { min-height: 70px; margin-left: 0; }
  .seo-achieve-item:before { display: none; }
  .seo-achieve-item .achieve-val { float: left; width: 100px; margin-right: 20px; font-size: 40px; }
  .seo-achieve-item .achieve-desc { display: block; top: inherit; width: auto; padding-right: .2em; }
  .seo-achieve-item .achieve-decor { width: 0; top: 0; left: 0; }
  .seo-achieve-item .achieve-decor:before { display: none; }
  .seo-achieve-item .achieve-i { display: none; }
  /*  young promotion  */
  .promo-why .tab-i { margin-top: -1em; margin-bottom: -1em; -webkit-transform: scale(0.6); -ms-transform: scale(0.6); -o-transform: scale(0.6); transform: scale(0.6); }
  .promo-why-item:nth-child(n+2):after { display: none; }
  .guarantees-item:nth-child(n+2):after { display: none; }
  .guarantees-item { height: 200px; }
  .guarantees-item i { margin: -1em auto; -webkit-transform: scale(0.6); -ms-transform: scale(0.6); -o-transform: scale(0.6); transform: scale(0.6); }
  .guarantees-item p { padding: 0px; }
  .team-item { margin-bottom: 25px; }
  /*  site develop  */
  .site-develop-page .inner-promo { margin-top: -12px; }
  .stages:before, .stages:after { display: none; }
  .stages-item-wrap { padding-right: 0; }
  .stages-list:before { display: none; }
  .stages-list .stages-item:nth-child(even):before, .stages-list .stages-item:nth-child(odd):before { display: none; }
  .stages-list .stages-item:nth-child(odd):after { top: 10px; right: initial; left: 15px; }
  .stages-list .stages-item:nth-child(even):after { top: 10px; left: 15px; width: 45px; height: 26px; padding: 4px 8px 4px 0; text-align: center; background-position: -171px -203px; }
  .stages-list .stages-item:nth-child(even) h3, .stages-list .stages-item-wrap h3 { padding-left: 45px; }
  .stages-list .stages-item-wrap p { height: auto; margin-bottom: 30px; padding-left: 45px; }
  .reason-img { display: none; }
  .reason-stack .fleft, .reason-stack .fright { float: none; display: inline-block; width: 180px; vertical-align: top; }
  .reason-stack .fleft .reason-stack-item, .reason-stack .fright .reason-stack-item { min-height: 180px; padding-left: 15px; padding-right: 15px; text-align: center; }
  .reason-stack .fleft .reason-stack-item .desc, .reason-stack .fright .reason-stack-item .desc { text-align: center; }
  .inner-promo-custom .container { padding: 25px 15px 50px 25px; }
  .paint-stuff-bg { display: none; }
  .team-dev .team-list .fleft, .team-dev .team-list .fright { width: 45%; }
  .form-order .right-part { float: none; } }
@media screen and (max-width: 480px) { .top-carousel .carousel-caption h1 { font-size: 1.8em; }
  .service-item { height: 260px; }
  .nav-tabs li { width: 65px; }
  .nav-tabs li:before { top: -7px; left: -7px; width: 95px; height: 95px; }
  .choice:before, .choice:after { display: none; }
  .f-col { width: 100%; }
  .copyright { margin-top: 30px; }
  .clients-list li { padding: 0; }
  .promo-form-wrap .form-signin { padding: 2em 1.5em; border: none; }
  .promo-form-wrap .form-signin:before { top: 0; left: 0; width: 100%; height: 100%; }
  .promo-form-wrap .form-signin input[type="text"], .promo-form-wrap .form-signin input[type="email"], .promo-form-wrap .form-signin input[type="url"], .promo-form-wrap .form-signin input[type="number"] { height: 50px; }
  .promo-form-wrap .form-signin label { top: 14px; left: 15px; font-size: 16px; }
  .promo-form-wrap .form-signin .btn { width: 180px; height: 45px; margin-top: 0; padding: 0; font-size: 18px; }
  .promo-form-wrap .form-signin textarea { margin-bottom: 0; }
  .projects-list { padding-bottom: 30px; }
  .projects-item, .projects-item-2w { width: 100% !important; height: 280px !important; margin: 0 0 20px 0; }
  /*--portfolio--*/
  .portfolio-page .layout:after { display: none; }
  .seo-project { min-height: auto; margin: 0 0px 40px 0px; }
  .seo-project:before { display: none; }
  .seo-project-title { font-size: 26px; }
  .seo-project-desc { padding: 0 15px 20px 15px; }
  .seo-project-desc .seo-project-task { font-size: 16px; }
  .seo-project-footer { position: static; }
  /*  site develop  */
  .type-site-list .type-site-item { width: 100%; border-bottom: 1px solid #ddd; border-right: none; }
  .features-list .features-item { min-height: auto; width: 100%; }
  .dev-features-item { min-height: 100px; }
  .reason-stack .fleft, .reason-stack .fright { width: 160px; }
  .team-dev .team-list .fleft, .team-dev .team-list .fright { width: 100%; float: none; text-align: center; }
  .team-dev .team-list .fleft .team-item, .team-dev .team-list .fright .team-item { margin-left: 0; margin-right: 0; text-align: center; }
  .team-dev .team-list .fleft .team-item .title:after, .team-dev .team-list .fleft .team-item .title:before, .team-dev .team-list .fright .team-item .title:after, .team-dev .team-list .fright .team-item .title:before { display: none; }
  .team-dev .team-item-head { width: auto; }
  /*  site develop  */
  .inner-promo-custom img { display: none; }
  .inner-promo img { display: none; }
  /*  young promotion  */
  .promo-why-item { width: 100%; margin-left: 0; }
  .guarantees-item { width: 100%; height: auto; margin-left: 0; }
  .team-item-w { width: 100%; margin-left: 0; }
  .main-footer .container { padding-left: 40px; }
  .copyright { text-align: left; } }
@media screen and (max-width: 400px) { .contact-info { display: none; } }
